.quote{
    font-size: 2em;
    margin: 0;
}

.speaker{
    text-align: right;
    margin-bottom: 50px;
}

.wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
