@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-color: rgb(54, 109, 109);
}

.game{
    justify-content: center;
    align-items: center;
}

.point{
    margin-left: 20px;
}

ul{
    list-style-type: none;
}

h1{
    font-family: 'Potta One', cursive;
    left: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 15px;
    text-align: center;
    color: #8CDEDE;
}

h2{
    font-family: 'Potta One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    color: #8CDEDE;
}

h3{
    font-family: 'Potta One', cursive;
    color: #8CDEDE;
}

.memory-game{
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card{
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /*não deixa o elemento achatado no plano*/
    transition: transform .9s;
    border: 1px #506a94;
    background: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card:active{
    transform: scale(0.97);
    transition: transform .3s;
}

.card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* retira o verso do elemento */
}

.card-front{
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
}


/* flip card animation */

.card.flip{
    transform: rotateY(180deg);
}

.cachorro, .gato{
    width: 60%;
    height: 50%;
}

.coruja{
    width: 50%;
    height: 40%
}

.coelho{
    width: 42%;
    height: 40%;
}

.rino{
    width: 80%;
    height: 70%;
}

.rato{
    width: 65%;
    height: 25%;
}

.trofeu{
    width: 17%;
    height: 17%;
    visibility: hidden;
}

@media (max-width: 750px){
    .body{
        height: 10%;
        display: none;
        flex-direction: row-reverse;
    }
}
