.body {
  background: url(./bgImg.jpg) center no-repeat;
  /*block-size: cover;*/
  color: #332c36;
  padding: 0;
  margin: 0;
  font-family: 'New Tegomin', serif;
  width: 100vw;
  height: 100vh;
}

.Content{
  height: 100vh;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NarutoImg{
  max-width: 50vw;
  align-self: flex-end;
}
